# COVID-19 Data (API).
### COVID-19 World Data.
[site](https://covid19api.com/) | [API info](https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest)

In [0]:
# necessary imports for notebook.
import pandas as pd
import requests
from pandas.io.json import json_normalize 
import json
import plotly.graph_objects as go

In [0]:
''' COVID-19 : Countries Daily Summary Total'''
# COVID-19 Data.
'''https://covid19api.com/'''
'''https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest'''
response = requests.get("https://api.covid19api.com/summary")
# show the status code.
print(response.status_code)
covid_cs = response.json()
covid_countriessummary = json_normalize(covid_cs, 'Countries')
# show the data frame shape.
print(covid_countriessummary.shape)
# show the data frame with headers.
covid_countriessummary.head()

200
(247, 10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

             Country CountryCode  ... TotalRecovered                  Date
0  ALA Aland Islands          AX  ...              0  2020-04-22T02:16:56Z
1        Afghanistan          AF  ...            150  2020-04-22T02:16:56Z
2            Albania          AL  ...            345  2020-04-22T02:16:56Z
3            Algeria          DZ  ...           1152  2020-04-22T02:16:56Z
4     American Samoa          AS  ...              0  2020-04-22T02:16:56Z

[5 rows x 10 columns]

In [0]:
''' COVID-19 : Country Daily Total Confirmed Count'''
# COVID-19 Data.
'''https://covid19api.com/'''
'''https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest'''
response = requests.get("https://api.covid19api.com/total/country/us/status/confirmed")
# show the status code.
print(response.status_code)
covid_cc = response.json()
covid_countryconfirmed = json_normalize(covid_cc)
# show the data frame shape.
print(covid_countryconfirmed.shape)
# show the data frame with headers.
covid_countryconfirmed.head()

200
(91, 10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                    Country CountryCode  ...     Status                  Date
0  United States of America              ...  confirmed  2020-01-22T00:00:00Z
1  United States of America              ...  confirmed  2020-01-23T00:00:00Z
2  United States of America              ...  confirmed  2020-01-24T00:00:00Z
3  United States of America              ...  confirmed  2020-01-25T00:00:00Z
4  United States of America              ...  confirmed  2020-01-26T00:00:00Z

[5 rows x 10 columns]

In [0]:
''' COVID-19 : Country/State/Province Daily Individual Case'''
# COVID-19 Data.
'''https://covid19api.com/'''
'''https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest'''
response = requests.get("https://api.covid19api.com/country/us/status/confirmed/live")
# show the status code.
print(response.status_code)
covid_ci = response.json()
covid_countryindividual = json_normalize(covid_ci)
# show the data frame shape.
print(covid_countryindividual.shape)
# show the data frame with headers.
covid_countryindividual.head()

200

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

(296024, 10)

                    Country CountryCode  ...     Status                  Date
0  United States of America          US  ...  confirmed  2020-01-22T00:00:00Z
1  United States of America          US  ...  confirmed  2020-01-22T00:00:00Z
2  United States of America          US  ...  confirmed  2020-01-22T00:00:00Z
3  United States of America          US  ...  confirmed  2020-01-22T00:00:00Z
4  United States of America          US  ...  confirmed  2020-01-22T00:00:00Z

[5 rows x 10 columns]

In [0]:
# data frame options.

# data frame includes Cases 0.
df = covid_countryindividual.copy()
# data frame not including Cases 0.
#df = covid_countryindividual[covid_countryindividual.Cases != 0]

In [0]:
# show the data frame shape.
print(df.shape)
# show the data frame with headers.
df.head()

(77732, 10)

                        Country CountryCode  ...     Status                  Date
4901   United States of America          US  ...  confirmed  2020-01-23T00:00:00Z
7465   United States of America          US  ...  confirmed  2020-01-24T00:00:00Z
9610   United States of America          US  ...  confirmed  2020-01-24T00:00:00Z
9874   United States of America          US  ...  confirmed  2020-01-25T00:00:00Z
11261  United States of America          US  ...  confirmed  2020-01-25T00:00:00Z

[5 rows x 10 columns]

In [0]:
# clean up the data.

# drop any latitude with 0.
df.drop(df[df['Lat'] == '0'].index, inplace = True)
# strip the minutes & seconds from the Date column.
df['Date'] = df['Date'].str.replace(r'T00:00:00Z', '').astype(object)
# change the data types of Lat & Lon to floats.
df = df.astype({'Lat': float})
df = df.astype({'Lon': float})

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
# final data frame.

# show the data frame shape.
print(df.shape)
# show the data frame with headers.
df.head()

(270815, 10)

                    Country CountryCode Province  ... Cases     Status        Date
0  United States of America          US  Wyoming  ...     0  confirmed  2020-01-22
2  United States of America          US  Wyoming  ...     0  confirmed  2020-01-22
3  United States of America          US  Wyoming  ...     0  confirmed  2020-01-22
4  United States of America          US  Wyoming  ...     0  confirmed  2020-01-22
5  United States of America          US  Wyoming  ...     0  confirmed  2020-01-22

[5 rows x 10 columns]

In [0]:
# set the mapbox style and access token.

''' style url '''
MAPBOX_STYLE = 'mapbox://styles/cvanchieri/ck922oal90bxw1ilzl8opoz7d'
''' access token '''
MAPBOX_TOKEN = 'pk.eyJ1IjoiY3ZhbmNoaWVyaSIsImEiOiJjazkwcTM3bGwwNGU4M2hucGYxNmkydGFzIn0.sDsBLsY2hw-6LPjKzL2ZqA'

In [0]:
# create the times and frames_data.
times = df.groupby(['Date'])['Date'].count().index.tolist()
frames_data = [df.loc[df['Date'] == t] for t in times]

In [0]:
# create the frames density plot.
frames = [go.Frame(data=[go.Densitymapbox(lat=f['Lat'], lon=f['Lon'], z=f['Cases'], radius=10)], name=str(f.iloc[0]['Date'])) for f in frames_data]

In [0]:
# create the mapbox attributes, play and pause button.
buttons=[
         dict(label="Play",method="animate",args=[None, {'fromcurrent':True, "transition": {"duration": 1, "easing": "quadratic-in-out"}}]),
         dict(label="Pause",method="animate",args=[[None], {"frame": {"duration": 0, "redraw": False},"mode": "immediate", "transition": {"duration": 0}}])
]
sliders_dict = {
    'active':0,
    'currentvalue': dict(font=dict(size=15), prefix='Date: ', visible=True),
    "transition": {"duration": 300, "easing": "cubic-in-out"},
    'x': 0,
    'steps': []
}
for i,t in enumerate(times):
    slider_step = {"args": [
                        [t],
                        {"frame": {"duration": 300, "redraw": False},
                         #"mode": "immediate",
                         "transition": {"duration": 1, "ease": "quadratic-in-out"}}
                    ],
            "label": t,
            "method": "animate",
            "value": t
    }
    sliders_dict['steps'].append(slider_step)

In [0]:
# merge the mapbox and the data together and display.
fig = go.Figure(data = [go.Densitymapbox(lat=df['Lat'], lon=df['Lon'], z=df['Cases'], radius=5, colorscale='hot', zmax=5, zmin=0)],
               layout=go.Layout(updatemenus=[dict(type="buttons", buttons=buttons,showactive=True)] ), 
               frames=frames
)
fig.update_layout(mapbox_style=MAPBOX_STYLE, 
                  mapbox_accesstoken=MAPBOX_TOKEN,
                  mapbox_center_lon=-100,
                  mapbox_center_lat=38,
                  mapbox_zoom=3.5)
fig.update_layout(sliders=[sliders_dict],
                 title='USA Covid-19 Confirmed Cases Daily Count')
fig.update_layout(height=1000)
fig.show()

![Covid19MapBox](https://github.com/CVanchieri/CVanchieri.github.io/blob/master/img/Covid19ConfirmedMapBoxPost/Covid19ConfirmedMapBox.png?raw=true)